@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Raleway', sans-serif;
    background-color: #0F1319
  }
  .main {
    @apply w-full p-5 mx-auto md:max-w-2xl md:p-0;
  }
}

@layer components {
  .title {
    @apply text-white text-4xl font-semibold;
  }
  .nav-link {
    font-family: 'Inter', sans-serif;
    @apply text-white font-medium transition-all hover:text-primary;
  }
}