@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #0A0C0F;
    /* overflow-x: hidden; */
  }
  .ctr {
    @apply w-full p-5 mx-auto md:max-w-7xl md:p-0;
  }
  .section-gap {
    @apply mt-[100px] md:mt-[250px];
  }
}

@layer components {
  .title {
    @apply text-white text-5xl font-medium md:text-7xl;
  }
  .caption {
    font-family: 'Inter', sans-serif;
    @apply text-secondaryText text-2xl;
  }
  .nav-link {
    font-family: 'Inter', sans-serif;
    @apply text-white font-medium transition-all hover:text-primary;
  }
  .nav-link--active {
    @apply py-3 px-6 border border-border rounded-[10px];
    background: rgba(48, 48, 48, 0.1);
  }
  .project-card {
    @apply border border-border ;
    background: rgba(48, 48, 48, 0.1);
    backdrop-filter: blur(35px);
  }
  .scroll-bar::-webkit-scrollbar {
      display: none;
  }
  .mt-150 {
    @apply mt-[150px];
  }
  .tech-card {
    @apply grayscale w-[80px] h-[80px] border border-border rounded-2xl flex items-center justify-center cursor-pointer transition-all hover:grayscale-0;
  }
  .blog-card {
    @apply border border-border rounded-3xl md:rounded-[55px] p-4 md:p-[50px];
    background: rgba(48, 48, 48, 0.1);
    backdrop-filter: blur(35px);
  }
  .contact-card {
    @apply border border-border rounded-[58px] p-6;
    background: rgba(48, 48, 48, 0.1);
    backdrop-filter: blur(35px);
  }
}